<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PharmaDb"
			 connectionString="Data Source=.\SqlExpress;Database=PharmaDb;Integrated Security=True;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Command Timeout=30"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>