USE [PharmaDb]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 11/5/2026 11:10:39 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[CategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 11/5/2026 11:10:39 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[RNC_Cedula] [nvarchar](20) NULL,
	[Telefono] [nvarchar](20) NULL,
	[Direccion] [nvarchar](255) NULL,
	[LimiteCredito] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RNC_Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 11/5/2026 11:10:39 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[CompraID] [int] IDENTITY(1,1) NOT NULL,
	[ProveedorID] [int] NOT NULL,
	[FechaCompra] [datetime] NULL,
	[TotalCompra] [decimal](10, 2) NOT NULL,
	[TipoPago] [nvarchar](20) NULL,
	[NumeroFacturaProveedor] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CompraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuentasPorCobrar]    Script Date: 11/5/2026 11:10:39 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentasPorCobrar](
	[CxCID] [int] IDENTITY(1,1) NOT NULL,
	[VentaID] [int] NOT NULL,
	[ClienteID] [int] NOT NULL,
	[MontoInicial] [decimal](10, 2) NOT NULL,
	[SaldoPendiente] [decimal](10, 2) NOT NULL,
	[FechaVencimiento] [date] NOT NULL,
	[Estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CxCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuentasPorPagar]    Script Date: 11/5/2026 11:10:39 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentasPorPagar](
	[CxPID] [int] IDENTITY(1,1) NOT NULL,
	[CompraID] [int] NOT NULL,
	[ProveedorID] [int] NOT NULL,
	[MontoInicial] [decimal](10, 2) NOT NULL,
	[SaldoPendiente] [decimal](10, 2) NOT NULL,
	[FechaVencimiento] [date] NOT NULL,
	[Estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CxPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompras]    Script Date: 11/5/2026 11:10:39 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompras](
	[DetalleCompraID] [int] IDENTITY(1,1) NOT NULL,
	[CompraID] [int] NOT NULL,
	[MedicamentoID] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioCostoUnitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetalleCompraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVentas]    Script Date: 11/5/2026 11:10:39 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVentas](
	[DetalleID] [int] IDENTITY(1,1) NOT NULL,
	[VentaID] [int] NOT NULL,
	[LoteID] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetalleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LotesInventario]    Script Date: 11/5/2026 11:10:39 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LotesInventario](
	[LoteID] [int] IDENTITY(1,1) NOT NULL,
	[MedicamentoID] [int] NOT NULL,
	[NumeroLote] [nvarchar](50) NOT NULL,
	[FechaVencimiento] [date] NOT NULL,
	[CantidadActual] [int] NOT NULL,
	[FechaIngreso] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicamentos]    Script Date: 11/5/2026 11:10:39 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicamentos](
	[MedicamentoID] [int] IDENTITY(1,1) NOT NULL,
	[CodigoBarras] [nvarchar](50) NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[PrincipioActivo] [nvarchar](150) NULL,
	[CategoriaID] [int] NOT NULL,
	[ProveedorID] [int] NOT NULL,
	[RequiereReceta] [bit] NULL,
	[PrecioCompra] [decimal](10, 2) NOT NULL,
	[PrecioVenta] [decimal](10, 2) NOT NULL,
	[StockMinimo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicamentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoBarras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagosClientes]    Script Date: 11/5/2026 11:10:39 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagosClientes](
	[PagoClienteID] [int] IDENTITY(1,1) NOT NULL,
	[CxCID] [int] NOT NULL,
	[FechaPago] [datetime] NULL,
	[MontoPagado] [decimal](10, 2) NOT NULL,
	[MetodoPago] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PagoClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagosProveedores]    Script Date: 11/5/2026 11:10:39 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagosProveedores](
	[PagoProveedorID] [int] IDENTITY(1,1) NOT NULL,
	[CxPID] [int] NOT NULL,
	[FechaPago] [datetime] NULL,
	[MontoPagado] [decimal](10, 2) NOT NULL,
	[MetodoPago] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PagoProveedorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 11/5/2026 11:10:39 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[ProveedorID] [int] IDENTITY(1,1) NOT NULL,
	[NombreEmpresa] [nvarchar](150) NOT NULL,
	[Contacto] [nvarchar](100) NULL,
	[Telefono] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProveedorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 11/5/2026 11:10:39 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[VentaID] [int] IDENTITY(1,1) NOT NULL,
	[FechaVenta] [datetime] NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[MetodoPago] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[VentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((0.00)) FOR [LimiteCredito]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT (getdate()) FOR [FechaCompra]
GO
ALTER TABLE [dbo].[CuentasPorCobrar] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[CuentasPorPagar] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[LotesInventario] ADD  DEFAULT (getdate()) FOR [FechaIngreso]
GO
ALTER TABLE [dbo].[Medicamentos] ADD  DEFAULT ((0)) FOR [RequiereReceta]
GO
ALTER TABLE [dbo].[Medicamentos] ADD  DEFAULT ((10)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[PagosClientes] ADD  DEFAULT (getdate()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[PagosProveedores] ADD  DEFAULT (getdate()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Proveedores] FOREIGN KEY([ProveedorID])
REFERENCES [dbo].[Proveedores] ([ProveedorID])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Proveedores]
GO
ALTER TABLE [dbo].[CuentasPorCobrar]  WITH CHECK ADD  CONSTRAINT [FK_CxC_Clientes] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Clientes] ([ClienteID])
GO
ALTER TABLE [dbo].[CuentasPorCobrar] CHECK CONSTRAINT [FK_CxC_Clientes]
GO
ALTER TABLE [dbo].[CuentasPorCobrar]  WITH CHECK ADD  CONSTRAINT [FK_CxC_Ventas] FOREIGN KEY([VentaID])
REFERENCES [dbo].[Ventas] ([VentaID])
GO
ALTER TABLE [dbo].[CuentasPorCobrar] CHECK CONSTRAINT [FK_CxC_Ventas]
GO
ALTER TABLE [dbo].[CuentasPorPagar]  WITH CHECK ADD  CONSTRAINT [FK_CxP_Compras] FOREIGN KEY([CompraID])
REFERENCES [dbo].[Compras] ([CompraID])
GO
ALTER TABLE [dbo].[CuentasPorPagar] CHECK CONSTRAINT [FK_CxP_Compras]
GO
ALTER TABLE [dbo].[CuentasPorPagar]  WITH CHECK ADD  CONSTRAINT [FK_CxP_Proveedores] FOREIGN KEY([ProveedorID])
REFERENCES [dbo].[Proveedores] ([ProveedorID])
GO
ALTER TABLE [dbo].[CuentasPorPagar] CHECK CONSTRAINT [FK_CxP_Proveedores]
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_DetalleC_Compras] FOREIGN KEY([CompraID])
REFERENCES [dbo].[Compras] ([CompraID])
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_DetalleC_Compras]
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_DetalleC_Medicamentos] FOREIGN KEY([MedicamentoID])
REFERENCES [dbo].[Medicamentos] ([MedicamentoID])
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_DetalleC_Medicamentos]
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Lotes] FOREIGN KEY([LoteID])
REFERENCES [dbo].[LotesInventario] ([LoteID])
GO
ALTER TABLE [dbo].[DetalleVentas] CHECK CONSTRAINT [FK_Detalle_Lotes]
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Ventas] FOREIGN KEY([VentaID])
REFERENCES [dbo].[Ventas] ([VentaID])
GO
ALTER TABLE [dbo].[DetalleVentas] CHECK CONSTRAINT [FK_Detalle_Ventas]
GO
ALTER TABLE [dbo].[LotesInventario]  WITH CHECK ADD  CONSTRAINT [FK_Lotes_Medicamentos] FOREIGN KEY([MedicamentoID])
REFERENCES [dbo].[Medicamentos] ([MedicamentoID])
GO
ALTER TABLE [dbo].[LotesInventario] CHECK CONSTRAINT [FK_Lotes_Medicamentos]
GO
ALTER TABLE [dbo].[Medicamentos]  WITH CHECK ADD  CONSTRAINT [FK_Medicamentos_Categorias] FOREIGN KEY([CategoriaID])
REFERENCES [dbo].[Categorias] ([CategoriaID])
GO
ALTER TABLE [dbo].[Medicamentos] CHECK CONSTRAINT [FK_Medicamentos_Categorias]
GO
ALTER TABLE [dbo].[Medicamentos]  WITH CHECK ADD  CONSTRAINT [FK_Medicamentos_Proveedores] FOREIGN KEY([ProveedorID])
REFERENCES [dbo].[Proveedores] ([ProveedorID])
GO
ALTER TABLE [dbo].[Medicamentos] CHECK CONSTRAINT [FK_Medicamentos_Proveedores]
GO
ALTER TABLE [dbo].[PagosClientes]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_CxC] FOREIGN KEY([CxCID])
REFERENCES [dbo].[CuentasPorCobrar] ([CxCID])
GO
ALTER TABLE [dbo].[PagosClientes] CHECK CONSTRAINT [FK_Pagos_CxC]
GO
ALTER TABLE [dbo].[PagosProveedores]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_CxP] FOREIGN KEY([CxPID])
REFERENCES [dbo].[CuentasPorPagar] ([CxPID])
GO
ALTER TABLE [dbo].[PagosProveedores] CHECK CONSTRAINT [FK_Pagos_CxP]
GO
